@tailwind base;
@tailwind components;
@tailwind utilities;

.input-dark {
  background-color: #252f35; /* Dark background color */
  color: #fff; /* White text color */
  border: 1px solid #04ae59; /* Border color */
  border-radius: 0.375rem; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding */
}

.input-dark::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color of the calendar icon */
}
